canvas{
    background-color: white;
    border: 2px solid;
    border-radius: 5px;
}

.graficos{
    height: 300px;
    text-align: center;
    margin-top: 20px;
}

.tituloGraf{
    color: white;
    font-style: italic;
}

.tituloGraf h4{
    -webkit-text-stroke: 3px red;
}

.tabla{
    text-align: center;
    border: black;
}

.medias{
    margin-top: 20px;
}
