.tablaJugadores{
    text-align: center;
    margin-left: 150px;
    margin-right: 230px;
}

#datosEquipo{
    text-align: center;
    margin-left: 100px;
    margin-right: 230px;
}

.datosJugadores{
    text-align: center;
    margin-left: 420px;
    margin-right: 230px;
}

.infoEstadisticas h4{
    margin-top: 10px;
    color: white;
}

.tablaAsistencias{
    text-align: center;
    margin-left: 350px;
    margin-right: 230px;
}

.tablaAnotadores{
    text-align: center;
    margin-left: 350px;
    margin-right: 230px;
}

.tablaAnotadores{
    text-align: center;
    margin-left: 350px;
    margin-right: 230px;
}


.tablaRebotes{
    text-align: center;
    margin-left: 350px;
    margin-right: 305px;
}

.tablaTapones{
    text-align: center;
    margin-left: 350px;
    margin-right: 305px;
}
